# Virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc

# Database
*.db
*.sqlite

# Environment variables
.env

# Credentials
credentials.json
*.json

# IDE
.vscode/
.idea/

# Logs
*.log
*.xlsx